@{
    ViewBag.Title = "Add File";
}

<h3>Add File</h3>
<br />
<section id="addFile">

    @using (Html.BeginForm("AddFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <div class="col-md-10">
                File: <input type="file" name="files" id="addFileSelector" />
               </div>
            </div>
            <input type="submit" name="Submit" id="addFileSubmitButton" value="Upload" />
     }
</section>