@{
    ViewBag.Title = "Add File";
}

<h3>Add File</h3>
<br />
<section id="addFile">

    @using (Html.BeginForm("AddFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            File: <input type="file" name="file" id="addFileSelector" />
        </div>
            <input type="submit" name="Submit" id="addFileSubmitButton" value="upload" />
     }
</section>