
@{
    ViewData["Title"] = "Create Account";
}


<div>
    <h2>Create Account</h2>
    <br />
@using (Html.BeginForm("CreateAccount", "Home", FormMethod.Post, new { name = "createform", id = "createform" }))
{
    @Html.Partial("AccountInfo")
}
</div>

<p>
    If you have an account @Html.ActionLink("login", "Index", "Home") .

</p>
@*JQuery Validation scripts are in site.js*@

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/site.js"></script>
}