
@{
    ViewData["Title"] = "Edit";
}


<div>
    <h2>Edit</h2>
    <br />
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { name = "editform", id = "editform" }))
    {
        @Html.Partial("AccountInfo")
    }
</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/site.js"></script>
}